@import "../abstract/variables";

.btn {
  font-weight: 600;

  border-radius: 0.8rem;
  font-size: 1.4rem !important;
  text-align: center;
  justify-content: center;
}

.btn-green {
  background-color: $coure-color !important;
  box-shadow: 0rem 0.8rem 1.6rem -0.5rem rgba(0, 29, 31, 0.1);
  color: $white-100 !important;
  display: flex;
  align-items: center;
  line-height: 0;
  transition: all ease 0.3s;
  &:hover {
    color: $white-100;
    background-color: $coure-color;
  }
}
.btn-outline-green {
  border: 0.15rem solid $coure-color;
  background-color: transparent;
  color: $coure-color;
  transition: all ease 0.3s;
  &:hover {
    color: rgba($coure-color, 0.5);
    background-color: transparent;
    border: 0.15rem solid $coure-color;
  }
}

.btn-lg {
  min-height: 4.8rem;
  padding: 1rem 2rem;
}

.btn-md {
  min-height: 3.8rem;
  min-width: 8rem;
}

.btn-sm {
  min-height: 3rem;
  border-radius: 0.4rem;
}

.btn-full {
  min-height: 3.8rem !important;
  min-width: 100%;
}

.badge {
  height: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.8rem;
  border-radius: 0.5rem;
  &-error {
    background: rgba($error, 0.1);
    color: $error;
    border: 0.1rem solid $error;
  }
  &-success {
    background: rgba($success, 0.1);
    color: $success;
    border: 0.1rem solid $success;
  }
  &-warning {
    background: rgba($warning, 0.1);
    color: $warning;
    border: 0.1rem solid $warning;
  }
  &-tip {
    background: rgba($tip, 0.1);
    color: $tip;
    border: 0.1rem solid $tip;
  }
  &-info {
    background: rgba($info, 0.1);
    color: $info;
    border: 0.1rem solid $info;
  }
  &-primary {
    background: rgba($primary, 0.1);
    color: $primary;
    border: 0.1rem solid $primary;
  }
}

