// colors and fonts go here.

// Brand Colours
$coure-color: #fb383b;
$blue-100: #f0f2f9;

$blue-700: #182252;


// Neutrals & Shades
$white-100: #ffffff;
$white-200: #f7f7f7;
$white-300: #fafafa;
$white-700: #f2f2f2;
$text-body: #464e75;
$black-100: #000000;
$grey-500: rgba($blue-700, 0.07);
$grey-400: rgba($blue-700, 0.1);

// Alerts
$success: #5C993D;
$success-100: #4C9926;
$error: #d93b2b;
$info: #418ed9;
$warning: #f2b12e;

$primary: #418ED9;
$tip: #4d4d4d;

//Fonts specified by Emmanuel
$coure_font: "poppins", sans-serif;
$coure_font_bold: "poppins bold", sans-serif;
