<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title>{{ data.isEditing ? 'Update' : 'Add' }}  Task</h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/close.svg" alt="" />
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="taskForm" (submit)="submit()">
      <div class="row">
        <div class="col-md-6">
            <div class="form-group form_group">
                <label>Title</label>
                <input 
                    type="text" 
                    class="form-control" 
                    formControlName="title"
                    [ngClass]="{
                        'is-invalid':
                          (taskForm.get('title')?.errors &&
                            taskForm.get('title')?.touched) ||
                          (taskForm.get('title')?.hasError('required') &&
                            taskFormSubmitted) ||
                          (taskForm.get('title')?.hasError('title') && taskFormSubmitted)
                      }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="
                        taskForm.get('title')?.hasError('required') &&
                        taskFormSubmitted &&
                        !taskForm.get('title')?.hasError('title') &&
                        taskFormSubmitted
                    "
                    >
                    Required
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form_group">
                <label>Due Date</label>
                <input 
                    type="date" 
                    class="form-control" 
                    formControlName="dueDate"
                    [ngClass]="{
                        'is-invalid':
                          (taskForm.get('dueDate')?.errors &&
                            taskForm.get('dueDate')?.touched) ||
                          (taskForm.get('dueDate')?.hasError('required') &&
                            taskFormSubmitted) ||
                          (taskForm.get('dueDate')?.hasError('dueDate') && taskFormSubmitted)
                      }"
                >
                <div
                    class="invalid-feedback"
                    *ngIf="
                        taskForm.get('dueDate')?.hasError('required') &&
                        taskFormSubmitted &&
                        !taskForm.get('dueDate')?.hasError('dueDate') &&
                        taskFormSubmitted
                    "
                    >
                    Required
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form_group">
                <label>Description</label>
                <textarea 
                    name="" id="" 
                    cols="30" rows="10"
                    formControlName="description"
                    [ngClass]="{
                        'is-invalid':
                          (taskForm.get('description')?.errors &&
                            taskForm.get('description')?.touched) ||
                          (taskForm.get('description')?.hasError('required') &&
                            taskFormSubmitted) ||
                          (taskForm.get('description')?.hasError('description') && taskFormSubmitted)
                      }"
                ></textarea>
                <div
                    class="invalid-feedback"
                    *ngIf="
                        taskForm.get('description')?.hasError('required') &&
                        taskFormSubmitted &&
                        !taskForm.get('description')?.hasError('description') &&
                        taskFormSubmitted
                    "
                    >
                    Required
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form_group">
                <label>Priority <span class="text-red">●</span></label>
                <select
                  name="" id=""
                  class="form-control"
                  formControlName="priority"
                  [ngClass]="{
                    'is-invalid':
                      (taskForm.get('priority')?.errors &&
                        taskForm.get('priority')?.touched) ||
                      (taskForm.get('priority')?.hasError('required') &&
                        taskFormSubmitted) ||
                      (taskForm.get('priority')?.hasError('priority') && taskFormSubmitted)
                  }"
                >
                  <option [ngValue]="null" disabled>Select Priority Level</option>
                  <option [ngValue]="priority.id" *ngFor="let priority of taskPriorities">
                    {{  priority.type }}
                  </option>
                </select>
                <div
                    class="invalid-feedback"
                    *ngIf="
                        taskForm.get('priority')?.hasError('required') &&
                        taskFormSubmitted &&
                        !taskForm.get('priority')?.hasError('priority') &&
                        taskFormSubmitted
                    "
                    >
                    Required
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form_group">
                <label>Status <span class="text-red">●</span></label>
                <select
                  name="" id=""
                  class="form-control"
                  formControlName="status"
                  [ngClass]="{
                    'is-invalid':
                      (taskForm.get('status')?.errors &&
                        taskForm.get('status')?.touched) ||
                      (taskForm.get('status')?.hasError('required') &&
                        taskFormSubmitted) ||
                      (taskForm.get('status')?.hasError('status') && taskFormSubmitted)
                  }"
                >
                  <option [ngValue]="null" disabled>Select Status</option>
                  <option [ngValue]="status.id" *ngFor="let status of taskStatus">
                    {{  status.type }}
                  </option>
                </select>
                <div
                    class="invalid-feedback"
                    *ngIf="
                        taskForm.get('status')?.hasError('required') &&
                        taskFormSubmitted &&
                        !taskForm.get('status')?.hasError('status') &&
                        taskFormSubmitted
                    "
                    >
                    Required
                </div>
              </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      #close
      mat-button
      mat-dialog-close
      class="btn btn-outline-green btn-md d-none"
    >
      Cancel
    </button>

    <button
      mat-button
      cdkFocusInitial
      type="submit"
      class="btn btn-green btn-md"
      [disabled]="taskForm.invalid"
      (click)="submit()"
    >
      {{ data.isEditing ? 'Update' : 'Add Task' }}
    </button>
  </mat-dialog-actions>
  